$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
    background-color: #eeeedd;
}

#welcome {
  margin: 0 auto;
  text-align: center;
}

.menu-button {
  margin-right: 15px;
  margin-top: 7px;
  border-radius: 0;
  background-color: #eeeedd;
}

.menu-button:hover {
  background-color: #eeeedd;
}

#changing-content {
  margin-top: 50px;
}

.navbar {
  background-color: #555555;
}

.dropdown-li {
  cursor: pointer;
}

li a:hover {
  background-color: #eeeedd;
}

.dropdown-menu {
  background-color: #eeeedd;
}
