$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'colors';

body {
  background-color: $main-background;
}

.menu-button {
  background-color: $main-background;
  border-radius: 0;
  margin-right: 15px;
  margin-top: 7px;
}

.menu-button:hover {
  background-color: $main-background;
}

.changing-content h1 {
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}

.navbar {
  background-color: $navbar-background;
}

.dropdown-li {
  cursor: pointer;
}

li a:hover {
  background-color: $main-background;
}

.dropdown-menu {
  background-color: $main-background;
}
